@import url("font.css");

body{
    font-family: 'Indie Flower'!important;
    background-color:antiquewhite;
}

.pink{
    background-color:lightpink;
}

.lemonchiffon{
    background-color:lemonchiffon;
}